<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">
          New Post Definition
        </h3>
      </div>
      <div class="box-body">
        <%= form_for @post do |f| %>

            <% if @post.errors.any? %>

              <div class="callout callout-danger">
                <h4>
                  <%= pluralize(@post.errors.count, "error") %> prohibited
                  this article from being saved:
                </h4>

                <div>
                  <% @post.errors.full_messages.each do |msg| %>
                    <p><%= msg %></p>
                  <% end %>
                </div>
              </div>

            <% end %>

            <div class="form-group">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: "form-control"%>
            </div>

            <%= f.submit class: 'btn btn-primary' %>

        <% end %>

      </div>
    </div>
  </div>
</div>
