<%= link_to 'Back', post_definitions_path, { class: 'btn btn-info btn-fill', style: 'float: right;'} %>
<div class="container-fluid">
  <h3>New Post Definition</h3>

  <%= form_for @post do |f| %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control"%>
      </div>

      <%= f.submit class: 'btn btn-secondary' %>

  <% end %>
</div>
