<%= field.label field.object.post_field.name, { style: 'margin-top: 20px;'} %>

<% if field.object.image_url %>
  <%= link_to "Remove", '#', {
    style: 'display: inline-block;',
    onclick: "deleteFile('edit', '#{field.object.id}', '#{field.object.post_id}');",
    id: 'remove-image' } %>
  <%= field.file_field :image, {
    onchange: "loadFile(event)",
    id: 'upload-image-field' } %>
  <%= image_tag field.object.image_url(:thumb), {
    class: 'post-image loaded',
      id: 'post-image' } %>
<% else %>
  <a href="#" onclick="deleteFile('new')" id="remove-image" style="display: none;">Remove</a>
  <%= field.file_field :image, {
    onchange: "loadFile(event)",
    id: 'upload-image-field' } %>
  <img id="post-image" class="post-image"/>
<% end %>
