<%= field.label field.object.post_field.name, { style: 'margin-top: 20px;'} %>

<% if field.object.image_url %>
  <%= link_to "Remove", '#', {
    style: 'display: inline-block;',
    onclick: "deleteFile('edit');",
    id: 'remove-image' } %>
  <%= field.hidden_field :remove_image, { id: 'remove-value' } %>

  <%= field.file_field :image, {
    onchange: "loadFile(event)",
    id: 'upload-image-field' } %>
  <%= field.hidden_field :image_cache %>

  <%= image_tag field.object.image_url(:thumb), {
    class: 'post-image loaded',
      id: 'post-image' } %>
<% else %>
  <a href="#" onclick="deleteFile('new')" id="remove-image" style="display: none;">Remove</a>
  <%= field.file_field :image, {
    onchange: "loadFile(event)",
    id: 'upload-image-field' } %>
  <%= field.hidden_field :image_cache %>
  <img id="post-image" class="post-image"/>
<% end %>
