<%= link_to 'Back', post_definitions_path, { class: 'btn btn-secondary', style: 'margin-bottom: 30px'} %>
<hr/>

<h3><%= @post.name %></h3>

<div class="row">
  <%= form_for @post do |f| %>

      <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@post.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-md-9">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control"%>
      </div>

      <div class="col-md-3">
        <%= f.submit class: 'btn btn-secondary', style: 'margin-top: 30px;'%>
      </div>

  <% end %>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-12">
    <h4>Fields</h4>
    <%= link_to 'Add Field', new_post_field_path(post_definition_id: @post.id, post: @post.name), { class: 'btn btn-secondary', style: 'margin-bottom: 30px; margin-top: 15px'} %>
    <div class="card" style="border: none;">
      <ul class="list-group list-group-flush">
        <% @post.post_fields.each do |field| %>
            <li class="list-group-item col-md-12">

              <div class="col-md-3">
                <span>Name: <%= field.name %></span>
              </div>
              <div class="col-md-3">
                <span>Type: <%= type_formatter(field.field_type) %></span>
              </div>
              <div class="col-md-3">
                <span>Required: <%= field.required %></span>
              </div>

              <div class="col-md-3" style="display: inline-block;">
                <%= link_to "Edit", edit_post_field_path(field, { post: @post.name }),
                            class: 'btn btn-secondary btn-sm'%>
                <%= link_to "Delete", post_field_path(field),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-secondary btn-sm'%>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
