<%= link_to 'New Post Definition', new_post_definition_path, { class: 'btn btn-secondary', style: 'margin-bottom: 30px'}%>

<h3>List Post Definitions</h3>

<% @posts.each do |post| %>
    <div style="margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #d0d5d8; padding: 10px 0 10px 0;">
      <span><%= post.name %></span>
      <div style="display: inline-block; float: right; margin-right: 60%;">
        <%= link_to "Show", post_definition_path(post),
                      class: 'btn btn-secondary btn-sm'%>
        <%= link_to "Edit", post_definition_path(post),
                      class: 'btn btn-secondary btn-sm'%>
        <%= link_to "Delete", post_definition_path(post),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-secondary btn-sm'%>
      </div>
    </div>
<% end %>
