<h2>New Post Definition</h2>
<%= form_for :post_definition, url: post_definitions_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', post_definitions_path %>