<%= link_to 'Back', post_definitions_path, { class: 'btn btn-secondary', style: 'margin-bottom: 30px'} %>

<h3>New Post Definition</h3>

<%= form_for :post_definition, url: post_definitions_path do |f| %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control"%>
    </div>

    <p>
      <%= f.submit class: 'btn btn-secondary' %>
    </p>

<% end %>