<%= form_for @post do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control"%>
    <%= f.label :field_type %><br>
    <%= f.select :field_type, PostField.all_types, { prompt: 'Select Type' }, { class: 'form-control' } %>
    <div class="checkbox" style="margin-top: 10px;">
      <span style="margin-right: 10px;">Required</span>
      <%= hidden_field_tag :required, false %>
      <%= f.check_box :required, {}, true %>
    </div>
    <%= f.hidden_field :post_definition_id %>
    <%= f.submit class: 'btn btn-secondary', style: 'margin-top: 30px;' %>
<% end %>