<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <title>Cms9</title>
    <%= stylesheet_link_tag "cms9/application", media: "all" %>
    <%= javascript_include_tag "cms9/application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'cms9/favicon-16.png', type: 'image/png' %>
    <%= favicon_link_tag 'cms9/favicon-32.png', type: 'image/png' %>
    <%= favicon_link_tag 'cms9/favicon-48.png', type: 'image/png' %>
    <%= favicon_link_tag 'cms9/favicon-128.png', type: 'image/png' %>
    <%= favicon_link_tag 'cms9/favicon-256.png', type: 'image/png' %>
    <%= favicon_link_tag 'cms9/favicon-512.png', type: 'image/png' %>
  </head>

  <body class="skin-blue">
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini"><b>CMS</b>9</span>
      <span class="logo-lg"><b>CMS</b>9</span>
    </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-gears"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="header">
                  <% if current_user.email %>
                    <%= current_user.email %>
                  <% else %>
                    User #<%= current_user.id %>
                  <% end %>
                </li>
                <li>
                  <ul class="menu">
                    <li>
                      <%= link_to user_logout, method: :delete do %>
                        <i class="fa fa-power-off text-red"></i>
                        Logout
                      <% end %>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
  </header>


    <div class="wrapper row-offcanvas row-offcanvas-left">
      <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="<%= 'active' if params[:controller] == 'cms9/welcome' %>">
              <%= link_to root_path do %>
               <span class="fa fa-home" aria-hidden="true"></span> Dashboard
              <% end %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'cms9/post_definitions' || params[:controller] == 'cms9/post_fields' %>">
              <%= link_to post_definitions_path do %>
                <span class="fa fa-folder-open" aria-hidden="true"></span> Post Types
              <% end %>
            </li>
            <li class="header">POST TYPES</li>
            <% Cms9::PostDefinition.all.each do |post_def| %>
              <% if params[:id] %>
                <li class="<%= 'active' if params[:controller] == 'cms9/posts' && Cms9::Post.find(params[:id]).post_definition_id == post_def.id %>">
              <% else %>
                <li class="<%= 'active' if params[:controller] == 'cms9/posts' && params[:post_definition_id] == post_def.id.to_s %>">
              <% end %>
              <%= link_to posts_path(post_definition_id: post_def.id) do %>
                <i class="fa fa-edit" aria-hidden="true"></i> <%= post_def.name.pluralize %>
              <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      </aside>

      <aside class="right-side">
        <section class="content">
          <%= yield %>
        </section>
      </aside>
    </div>
  </body>
</html>
