<%= form_for @post do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control"%>
    <%= f.label :field_type %><br>
    <%= f.select :field_type, Cms9::PostField.all_types, { prompt: 'Select Type' }, { class: 'form-control type-selector', disabled: edit } %>

    <div id="valueSet" style="display: none;">
      <p style="margin-top: 20px; font-weight: bold;">Multiple choices</p>
      <%= render 'select', { f: f } %>
    </div>
    <a href="javascript:;" id="addNewValue" class="btn btn-secondary btn-sm" style="visibility: hidden;">Add New Choice</a>

    <div id="selector_" style="display: none;">
      <%= render 'select', { f: f } %>
    </div>

    <div class="checkbox" style="margin-top: 10px;">
      <span style="margin-right: 30px;">Required</span>
      <%= hidden_field_tag :required, false %>
      <%= f.check_box :required, {}, true %>
    </div>
    <%= f.hidden_field :post_definition_id %>
    <%= f.submit class: 'btn btn-secondary', style: 'margin-top: 30px;' %>
<% end %>
