<!DOCTYPE html>
<html>
  <head>
    <title>Cms9</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Cms9</a>
      <ul class="nav navbar-nav">
        <li class="nav-item <%= 'active' if params[:controller] == 'welcome' %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <%= 'active' if params[:controller] == 'post_definitions' %>">
          <a class="nav-link" href="/post_definitions">Post Definitions</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Create Post
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <% @nav_list.each do |post| %>
                <a href="#" class="dropdown-item">
                  <%= post.name %>
                </a>
                <% if post != @nav_list.last %>
                    <div class="dropdown-divider"></div>
                <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>